# Puerto de arranque
PORT="PUERTO DEL SERVIDOR"
# Usuario BD
USER="NOMBRE USUARIO DE MONGODB"
# PASSWORD BD
PASSWORD="PASSWORD DE LA BD DE MONGODB"
# NOMBRE DE LA BASE DE DATOS
DBNAME="NOMBRE DE LA BASE DE DATOS DE MONGODB"
# TOKEN PASSWORD
TOKEN_SECRET="CONTRASEÑA TOKEN"
# Tiempo del Token
APP_TOKEN_VALIDITY_IN_DAYS="TIEMPO DE EXPIRACIÓN DEL TOKEN"
